.contacts {
    padding-top: 94px;
    padding-bottom: 94px;

    &__flex {
        display: flex;
        gap: 60px;
    }

    &__map {
        width: 570px;
        height: 800px;
        border-radius: 10px;
        border: 1px solid $header-color;
    }

    &__info {
        margin-top: 60px;
    }

    &__title {
        @include font($color:$title-color, $size:36px, $weight:700, $height:1.17, $letter-space:1.08px);
        margin-bottom: 10px;
    }

    &__subtitle {
        @include font($color:$title-color, $size:24px, $weight:500, $height:1.19, $letter-space:0.48px);
        margin-bottom: 10px;
    }

    &__link {
        @include font($weight:500, $height:1.14, $letter-space:0.28px);
        margin-bottom: 10px;
        display: block;
        @include transition();

        &:hover,
        &:focus {
            color: $button-color;
        }
    }

    &__text {
        @include font();
    }
}