// Секція Особливості
.features {
    background-color: $header-title;
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
        display: flex;
        gap: 30px;
    }

    &__item:nth-child(1)::before {
        content: "";
        width: 270px;
        height: 120px;
        background-color: $our-command-background;
        border-radius: 4px;
        background-image: url("../images/features-bcg-icons/antenna.svg");
        display: inline-flex;
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70px 70px;
    }

    &__item:nth-child(2)::before {
        content: "";
        width: 270px;
        height: 120px;
        background-color: $our-command-background;
        border-radius: 4px;
        background-image: url("../images/features-bcg-icons/clock.svg");
        display: inline-flex;
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70px 70px;
    }

    &__item:nth-child(3)::before {
        content: "";
        width: 270px;
        height: 120px;
        background-color: $our-command-background;
        border-radius: 4px;
        background-image: url("../images/features-bcg-icons/diagram.svg");
        display: inline-flex;
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70px 70px;
    }

    &__item:nth-child(4)::before {
        content: "";
        width: 270px;
        height: 120px;
        background-color: $our-command-background;
        border-radius: 4px;
        background-image: url("../images/features-bcg-icons/astronaut.svg");
        display: inline-flex;
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70px 70px;
    }

    &__subtitle {
        width: 270px;
        @include font($color:$title-color, $weight:700, $height:1.14);
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__text {
        width: 270px;
        height: 72px;
        flex-shrink: 0;
        @include font();
    }
}