// Секція Особливості
.features {
    background-color: $header-title;
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
        display: flex;
        gap: 30px;
    }

    &__item:nth-child(1)::before {
        content: "";
        width: 270px;
        height: 120px;
        background-color: $our-command-background;
        border-radius: 4px;
        background-image: url("../images/antenna.png");
        display: inline-flex;
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70px 70px;
    }

    &__item:nth-child(2)::before {
        content: "";
        width: 270px;
        height: 120px;
        background-color: $our-command-background;
        border-radius: 4px;
        background-image: url("../images/clock.png");
        display: inline-flex;
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70px 70px;
    }

    &__item:nth-child(3)::before {
        content: "";
        width: 270px;
        height: 120px;
        background-color: $our-command-background;
        border-radius: 4px;
        background-image: url("../images/diagram.png");
        display: inline-flex;
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70px 70px;
    }

    &__item:nth-child(4)::before {
        content: "";
        width: 270px;
        height: 120px;
        background-color: $our-command-background;
        border-radius: 4px;
        background-image: url("../images/astronaut.png");
        display: inline-flex;
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70px 70px;
    }

    &__subtitle {
        width: 270px;
        color: $title-color;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__text {
        width: 270px;
        height: 72px;
        flex-shrink: 0;
        color: $paragraph-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;
    }
}