.footer {
    background-color: $footer-background;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    

    @media screen and (min-width: 1200px) {
        text-align: start;
    }

    &__flex{
        @include flex();
        flex-wrap: wrap;
        flex-direction: column;
        gap: 60px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            gap: 0;
            align-items: start;
            column-gap: 165px;
            row-gap: 60px;
        }

        @media screen and (min-width: 1200px) {
            gap: 0;
            align-items: first baseline;
        }
    }
}

/* ===== Адреса ===== */
.ft__address {
    margin-left: 0;

    @media screen and (min-width: 768px) {
        // margin-right: 165px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 70px;
        margin-left: 0;
    }

    &__link {
        @include font($color:$header-title, $size:24px, $weight:700, $height:1.375, $letter-space:0.72px, $family: $raleway-font);
    
        @media screen and (min-width: 1200px) {
            @include font($color:$header-title, $size:26px, $weight:700, $height:1.39, $letter-space:0.78px, $family: $raleway-font);
        }
    }

    &__logo {
        @include font($color:$button-color, $size:24px, $weight:700, $height:1.375, $letter-space:0.72px, $family: $raleway-font);

        @media screen and (min-width: 1200px) {
            @include font($color:$button-color, $size:26px, $weight:700, $height:1.39, $letter-space:0.78px, $family: $raleway-font);
        }
    }
}

.connect {
    width: 231px;
    height: 79px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (min-width: 1200px) {
        height: 81px;
        gap: 9px;
    }

    &__location {
        width: 231px;
        height: 21px;
        flex-shrink: 0;
        @include font($color:$header-title);
        @include transition();

        &:hover, 
        &:focus {
            color: $button-color;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 9px;
    }

    &__link {
        width: 136px;
        height: 21px;
        flex-shrink: 0;
        @include font($color:$address-color);
        @include transition();
        
        &:hover, 
        &:focus {
            color: $button-color;
        }
    }
}

/* ===== Соцмережі ===== */

.ft__social {

    @media screen and (min-width: 1200px) {
        margin-right: 94px;
    }

    &__title {
        @include font($color:$header-title, $weight:700, $height:1.14);
        margin-bottom: 20px;
    }

    &__list {
        @include flex();
        gap: 10px;
    }

    &__link {
        width: 44px;
        height: 44px;
        background-color: $social-bcg;
        border-radius: 50%;
        @include flex();
        @include transition($name-transition:background-color);

        &:hover,
        &:focus {
            background-color: $button-color;
            outline: none;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: $header-title;
    }
}

/* ===== Підписка ===== */

.ft__subscribe {
    margin-left: 0;
    width: 100%;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: auto;
        margin-left: 0;
    }

    &__title {
        @include font($color:$header-title, $weight:700, $height:1.14);
        margin-bottom: 20px;
    }

    &__form {
        @include flex();
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: column;

        @media screen and (min-width: 1200px) {
            gap: 12px;
            flex-direction: row;
        }
    }

    &__field {
        width: 100%;
        height: 50px;
        border-radius: 4px;
        border: 1px solid $subsribe-border;
        background: $subsribe-input;
        box-shadow: $subsribe-shadow;
        padding: 15px 16px;
        @include font($color:$address-color, $size:16px, $height:1.25, $letter-space:0.48px);
        @include transition($name-transition:border);

        @media screen and (min-width: 480px) {
            width: 450px;
        }

        @media screen and (min-width: 1200px) {
            width: 358px;
        }

        &:hover,
        &:focus {
            outline: none;
            border: 1px solid $button-color;
        }
    }

    &__button {
        padding: 10px 28px;
        border: none;
        border-radius: 4px;
        background: $button-color;
        box-shadow: $subsribe-shadow;
        text-align: center;
        @include font($color:$header-title, $size:16px, $weight:700, $height:1.88, $letter-space:0.96px);
        @include flex();
        gap: 10px;
        @include transition($name-transition:background-color);
        // margin-left: auto;
        // margin-right: auto;

        &:hover,
        &:focus {
            background-color: $active-button;
            outline: none;
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        fill: $header-title;
    }
}
