.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background: $backdrop-bcg;
    width: 100%;
    height: 100%;
    z-index: 100;
    @include transition($name-transition:opacity transform);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal {
    position: absolute;
    position: relative;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 609px;
    border-radius: 4px;
    background: $header-title;
    box-shadow: $team-card-shadow;
    padding: 40px;
    @include transition($name-transition:opacity transform);
    transform: translate(-50%, -50%) scale(1);

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }

    &__title {
        text-align: center;
        @include font($color:$title-color, $size:20px, $weight:700, $height:1.5, $letter-space:0.6px);
        margin-bottom: 12px;

        @media screen and (min-width: 1200px) {
            @include font($color:$title-color, $size:20px, $weight:700, $height:1.15, $letter-space:0.6px);
        }
    }

    &__text {
        @include font($size:12px, $height:1.17, $letter-space:0.12px);
        margin-bottom: 4px;
    }

    &__row {
        position: relative;
    }

    &__field {
        width: 370px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid $modal-border;
        margin-bottom: 10px;
        padding-left: 42px;
        padding-right: 12px;
        @include transition($name-transition:border);

        @media screen and (min-width: 1200px) {
            width: 448px;
        }

        &:hover,
        &:focus {
            outline: none;
            border: 1px solid $button-color;
        }
    }

    &__icon {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 12px;
        left: 11px;
        @include transition($name-transition:fill);
    }

    &__field:hover + &__icon,
    &__field:focus + &__icon {
        fill: $button-color;
    }

    &__comment {
        resize: none;
        width: 370px;
        height: 120px;
        padding: 12px 16px;
        margin-bottom: 20px;
        @include font($color:$comment-color, $size:12px, $height:1.17, $letter-space:0.12px);
        border-radius: 4px;
        border: 1px solid $modal-border;
        @include transition($name-transition:border);

        @media screen and (min-width: 1200px) {
            width: 448px;
        }

        &:hover,
        &:focus {
            outline: none;
            border: 1px solid $button-color;
        }
    }

    &__check {
        @include flex();
        margin-bottom: 30px;
    }

    &__checkbox {
        margin-right: 7px;
        width: 16px;
        height: 15px;
        border: 1px solid $title-color;
    }

    &__agree {
        margin-right: 5px;
        @include font($size: 12px, $height: 1.17, $letter-space: 0.36);

        @media screen and (min-width: 1200px) {
            @include font();
        }
    }

    &__conditions {
        @include font($color:$button-color, $size: 12px, $height: 1.17, $letter-space: 0.36);
        text-decoration-line: underline;

        @media screen and (min-width: 1200px) {
            @include font($color:$button-color);
        }
    }

    &__button {
        padding: 10px 52px;
        border-radius: 4px;
        border: none;
        background: $button-color;
        box-shadow: $subsribe-shadow;
        text-align: center;
        @include font($color:$header-title, $size:16px, $weight:700, $height:1.88, $letter-space:0.96px);
        margin-left: 85px;
        margin-right: 85px;
        @include transition($name-transition:background-color);

        @media screen and (min-width: 1200px) {
            margin-left: 124px;
            margin-right: 124px;
        }

        &:hover,
        &:focus {
            background-color: $active-button;
            outline: none;
        }
    }

    &__close {
        width: 30px;
        height: 30px;
        border: 1px solid $modal-close-border;
        border-radius: 50%;
        background-color: $header-title;
        position: absolute;
        top: 8px;
        right: 8px;
        @include flex();

        &:hover,
        &:focus {
            .modal-close-icon {
                fill: $button-color;
            }
        }

        &__icon {
            width: 18px;
            height: 18px;
            @include transition($name-transition:fill);
        }
    }
}
