// Секція Наша Команда
.team {
    background-color: $our-command-background;
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;

    &__title {
        color: $title-color;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 1.08px;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    &__item {
        width: 270px;
        border-radius: 0px 0px 4px 4px;
        background: $header-title;
        box-shadow: $team-card-shadow;
    }

    &__image {
        width: 270px;
        height: 260px;
    }

    &__text {
        margin-top: 30px;
        margin-bottom: 16px;
    }

    &__name {
        color: $title-color;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.19;
        letter-spacing: 0.48px;
    }

    &__speciality {
        color: $paragraph-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.19;
        letter-spacing: 0.48px;
        margin-top: 10px;
    }
}

// Іконки

.social {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;

    &__link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color;
        transition-duration: 250ms;
        transition-timing-function: $cubic-bezier;

        &:hover,
        &:focus {
            background-color: $button-color;
            outline: none;
            .social__icon {
                fill: $header-title;
            }
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        fill: $icon-color;
        transition: fill;
        transition-duration: 250ms;
        transition-timing-function: $cubic-bezier;
    }
}