// Секція Наша Команда
.team {
    background-color: $our-command-background;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &__title {
        @include font($color:$title-color, $size:28px, $weight:700, $height:1.17, $letter-space:0.84px);
        margin-bottom: 30px;

        @media screen and (min-width: 1200px) {
            @include font($color:$title-color, $size:36px, $weight:700, $height:1.18, $letter-space:1.08px);
            margin-bottom: 50px;
        }
    }

    &__list {
        @include flex();
        gap: 30px;
        flex-wrap: wrap;
    }

    &__item {
        width: 450px;
        border-radius: 0px 0px 4px 4px;
        background: $header-title;
        box-shadow: $team-card-shadow;

        @media screen and (min-width: 768px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }

    &__text {
        margin-top: 30px;
        margin-bottom: 16px;
    }

    &__name {
        @include font($color:$title-color, $size:16px, $weight:500, $height:1.19, $letter-space:0.48px);
    }

    &__speciality {
        @include font($size:16px, $height:1.19, $letter-space:0.48px);
        margin-top: 10px;
    }
}

// Іконки

.social {
    @include flex();
    gap: 10px;
    margin-bottom: 30px;

    &__link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        @include flex();
        @include transition($name-transition:background-color);

        &:hover,
        &:focus {
            background-color: $button-color;
            outline: none;
            .social__icon {
                fill: $header-title;
            }
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        fill: $icon-color;
        transition: fill;
        @include transition($name-transition:fill);
    }
}