:root{
    --header-title: #FFFFFF;
    --footer-background: #2f303a;
    --title-color: #212121;
    --paragraph-color: #757575;
    --button-color: #2196F3;
    --logo-color: #000000;
    --address-color: rgba(255, 255, 255, 0.6);
    --header-color: #ECECEC;
    --our-command-background: #F5F4FA;
    --card-border: #EEEEEE;
}

/* font-family: "Roboto"; */
/* font-family: "Raleway"; */

/* Container */
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: solid burlywood;
}
/* Шапка */
/* Фон та інше */
.header {
    background-color: var(--header-title);
    padding-top: 24px;
    padding-bottom: 25px;
}

.body {
    font-family: "Roboto";
}
/* Логотип */
.header-logo {
    color: var(--button-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: 0.78px;
}

.header-link {
    color: var(--logo-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: 0.78px;
}
/* Навігація */
.nav-link {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.nav-link:hover, :focus {
    color: var(--button-color);
}

.address {
    color: var(--button-color);
}
/* Пошта та телефон */
.heading-link {
    color: var(--paragraph-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.heading-link:hover , :focus {
    color: var(--button-color);
}
/* Секція Кнопок */
.buttons {
    background: var(--header-title);
    padding-top: 94px;
    padding-bottom: 25px;
}
/* Кнопки */
.buttons-button {
    border-radius: 4px;
    background: var(--our-command-background);
    color: var(--title-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.48px;
}

.buttons-button:hover, .buttons-button:focus {
    background-color: var(--button-color);
    color: var(--header-title);
}
/* Секція Проєкти */
/* Фон та інше */
.projects {
    padding-top: 25px;
    padding-bottom: 94px;
}
/* Карточки */
.projects-item {
    width: 370px;
    height: 404px;
    flex-shrink: 0;
    border: 1px solid var(--card-border);
    background: var(--header-title);
}

.projects-image {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}

.projects-name {
    width: 322px;
    color: var(--title-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.projects-type {
    width: 322px;
    color: var(--paragraph-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.48px;
}
/* Підвал */
/* Фон та інше */
.footer {
    background-color: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-address {
    width: 231px;
    height: 81px;
    flex-shrink: 0;
}
/* Логотип */
.footer-logo {
    color: var(--button-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: 0.78px;
}

.footer-link {
    color: var(--header-title);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: 0.78px;
}
/* Локація, пошта та телефон */
.address-location {
    width: 231px;
    height: 21px;
    flex-shrink: 0;
    color: var(--header-title);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.address-location:hover, .address-location:focus {
    color: var(--button-color);
}

.address-link {
    width: 136px;
    height: 21px;
    flex-shrink: 0;
    color: var(--address-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.address-link:hover, .address-link:focus{
    color: var(--button-color);
}