// Шрифти
$roboto-font: "Roboto";
$raleway-font: "Raleway";
// Кольори
$header-title: #FFFFFF;
$footer-background: #2f303a;
$title-color: #212121;
$paragraph-color: #757575;
$button-color: #2196F3;
$logo-color: #000000;
$header-color: #ECECEC;
$our-command-background: #F5F4FA;
$active-button: #1d84d8;
$icon-color: #AFB1B8;
$social-bcg: #44454E;
$card-border: #EEEEEE;
// Прозорі кольори
$image-bcg: rgba(47, 48, 58, 0.8);
$address-color: rgba(255, 255, 255, 0.6);
$subsribe-border: rgba(255, 255, 255, 0.30);
$subsribe-input: rgba(33, 150, 243, 0.00);
$portfolio-bcg: rgba(33, 150, 243, 0.90);
$backdrop-bcg: rgba(0, 0, 0, 0.20);
$modal-border: rgba(33, 33, 33, 0.20);
$comment-color: rgba(117, 117, 117, 0.50);
$modal-close-border: rgba(0, 0, 0, 0.10);
    // Градієнти
    $hero-gradient: #2f303a66;
    // Тіні
    $hero-btn-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.149);
    $team-card-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    $subsribe-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    $portfolio-btn-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
// Перехід
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);