.body {
    margin: 0;
    padding-top: 60px;

    @media screen and (min-width: 768px) {
        padding-top: 80px;
    }
}


// ::-webkit-scrollbar {
//     width: 5px;
//     background-color: #FFFFFF;
// }

// ::-webkit-scrollbar-thumb {
//     background: #2196F3;
//     border-radius: 50px;
// }